<!DOCTYPE html>

<head>
  <title> Grow a tree </title>
  <script type="text/javascript" src="{{ url_for('static', filename='script.js') }}"></script>
  <link type="text/css" rel="stylesheet" href="../static/style.css"/>
  <style>
    body {
      color: white;
      background-color: black;
    }
  </style>
</head>

<body>
  <p class="images">
    <h2> This plant grows in real-time but dies if not watered in</h2>
    <h2><span id='timer'>24:00:00</span> </h2>
    <div> Bookmark us and check back frequently to keep your plant alive and admire its growth</div>
    <div>Optionally, tell your friends about us!</div>
    <h2>This tree has been alive for: {{ days }} days</h2>
    <p><button class="water_button" onClick="window.location.reload();">Water</button></p>
    <img src="{{frameNum}}">
  </div>

    {% for time in times %}
    <p>{{ time['timestamp'] }}</p>
    {% endfor %}


  <!-- <script async defer src="../js/timer.js"></script> -->
  <script type="text/javascript">
    var count = 86400;
    // every 1000 milliseconds, run the function, timer
    var counter = setInterval(timer, 1000);

    function timer() {
      count = count - 1;
      if (count == -1) {
        clearInterval(counter);
        return;
      }

      var seconds = count % 60;
      var minutes = Math.floor(count / 60);
      var hours = Math.floor(minutes / 60);
      minutes %= 60;
      hours %= 60;

      document.getElementById("timer").innerHTML = hours + ":" + minutes + ":" + seconds; // watch for spelling
    }
    
  </script>
</body>

</html>